{{#if message}}
<div class="container" style="max-width: 540px;">
    <div class="alert alert-primary" role="alert">
        <strong>Mensaje:</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
</div>
{{/if}}